* {
  font-family: Arial, Helvetica, sans-serif;
}

#background{
  background-image: url("../img/space-7273891_1920.jpg") !important;
  background-repeat: no-repeat;
  background-size: cover;
}

.error {
  color: red;
}

#container-principal {
  background: rgb(255, 255, 255, 0.75);
  color: rgb(0, 0, 0);
  border-radius: 12px;
}

table {
  background-color: #cfd6e4 !important;
  /* height: 200px !important; */
}

button {
  border-radius: 5px !important;
}
